<form  class="form-inline">
<input type="text" class="form-control" name="searchInput" placeholder="SEARCH BY STUDENT NAME" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%;">
<button class="btn btn-outline-primary" (click)="searchText=''">X</button>
</form>
<table class="table table-hover">
    <thead>
        <th>Class Room</th>
        <th>Date</th>
        <th>Grade</th>
        <th>Time</th>
        <th>Student Name</th>
        <th>attendance</th>
        <th></th>
    </thead>
    <ng-container *ngFor="let stud of list">
        <tr *ngIf="filteredCondition(stud)">
            <td (click)="onEdit(stud)">{{stud.classRoomName}}</td>
            <td (click)="onEdit(stud)">{{stud.date}}</td>
            <td (click)="onEdit(stud)">{{stud.grade}}</td>
            <td (click)="onEdit(stud)">{{stud.time}}</td>
            <td (click)="onEdit(stud)">{{stud.studentName}}</td>
            <td (click)="onEdit(stud)">{{stud.attendance}}</td>
            <td><a  class="btn text-danger" (click)="onDelete(stud.id)"><i class="fa fa-trash"></i></a></td>
            <!-- <button class="btn btn-outline-danger" (click)="onDelete(stud.id)">Delete</button> -->
        </tr>
    </ng-container>
</table>