<div class="row">
  <h2>Student Register</h2>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
  <div class="form-group">
    <input name="classRoomName" #classRoomName="ngModel" [(ngModel)]="service.formData.classRoomName" class="form-control" placeholder="Class Name" required>
    <div *ngIf="classRoomName.invalid && classRoomName.touched" class="validation-error">This field is required.</div>
  </div>
  <div class="form-group">
    <input name="grade" #grade="ngModel" [(ngModel)]="service.formData.grade" class="form-control" placeholder="Grade">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="date" name="date" #date="ngModel" [(ngModel)]="service.formData.date" class="form-control">
    </div>
    <div class="form-group  col-md-6">
      <input type="time" name="time" #time="ngModel" [(ngModel)]="service.formData.time" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <input name="studentName" #studentName="ngModel" [(ngModel)]="service.formData.studentName" class="form-control" placeholder="Student Name">
  </div>
  <div class="form-group">
    <select name="attendance" #attendance="ngModel" [(ngModel)]="service.formData.attendance" class="form-control" placeholder="Attendance">
      <option value="Present">Present</option>
      <option value="Absent">Absent</option>
    </select>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-primary">Mark Student</button>
  </div>
</form>